<!DOCTYPE html>
<html>
    <head>
        <title>Ara Digital Ads Showcase</title>
        <link rel="stylesheet" href="resource/css/style.css">
        <script src="resource/js/jquery.min.js"></script>
        <script src="resource/js/function.js"></script>
    </head>
    <Body>
        <div class="container">
            <!--body content block-->
            <div class="inner-container center snap">
                <!--snap chat ad banner-->
                <video class="bannersnap" width="305" height="537" autoplay muted>
                    <source src="ads/SnapChat/banner.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
            </div>   
        </div> 
        <footer></footer>
        <div id="dashboard">
            <div id="dashboardheader">Settings</div>
            <div class="checkbox">
                <input type="checkbox" id="snap" name="snap" value="snap">
                <label for="snap">Snap Chat</label>
                <button type="button" onclick="refresh('bannersnap')">Replay</button>
            </div>
            <div class="checkbox">
                <a href="https://htmlpreview.github.io/?https://github.com/Ara-marketing/docs/blob/master/Template/index.html">Web platform</a>
            </div>
        </div>
    </Body>
</html>
