body{
    margin:0;
    padding:0;
}
.container{
    width:1250px;
    margin:0 auto;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.inner-container{
    width:728px;
}
.left-container{
    width:160px;
}
.right-container{
    width:300px;
}
header{
    width:1250px;
    margin:0 auto;
    padding:20px 0;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.flex{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
video{
    border:none;
    background-color:#ccc;
    display:none;
}
.full{
    width:100%;
}
.fifty{
    width:48%;
}
.twenty-five{
    width:24%;
}
.placeholder{
    margin-bottom:20px;
}
.placeholder img{
    width:100%;
    height:auto;
}
.center{
    text-align:center;
}
#dashboard{
    position: fixed;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    top:10px;
    left:10px;
}
#dashboardheader {
padding: 10px;
cursor: move;
z-index: 10;
background-color: #2196F3;
color: #fff;
}
#dashboard .checkbox{
    margin:10px;
}
#dashboard .checkbox button{
    float:right;
    margin-left:20px;
}
.snap{
    width:350px;
    height:707px;
    background-image:url(../DigitalAdsShowCase-mp4/images/snapchat.jpg);
    background-size:100%;
    margin:20px auto;
}
.bannersnap{
    margin:84px 0 0 24px;
}

